* {
  color: rgb(255, 255, 255);
}

.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* need relative postioning for the streak effect to have abs positioning */
  position: relative;
}

.streak-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 85%;
  height: auto;
}

.outline-text {
  text-shadow: -0.07em -0.07em 0 #000, 0.07em -0.07em 0 #000,
    -0.07em 0.07em 0 #000, 0.07em 0.07em 0 #000, -0.09em -0.09em 0 #000,
    0.09em -0.09em 0 #000, -0.09em 0.09em 0 #000, 0.09em 0.09em 0 #000,
    -0.12em -0.12em 0 #000, 0.12em -0.12em 0 #000, -0.12em 0.12em 0 #000,
    0.12em 0.12em 0 #000, -0.05em -0.09em 0 #000, 0.05em -0.09em 0 #000,
    -0.09em -0.05em 0 #000, 0.09em -0.05em 0 #000, -0.05em 0.09em 0 #000,
    0.05em 0.09em 0 #000, -0.09em 0.05em 0 #000, 0.09em 0.05em 0 #000,
    -0.07em -0.12em 0 #000, 0.07em -0.12em 0 #000, -0.12em -0.07em 0 #000,
    0.12em -0.07em 0 #000, -0.07em 0.12em 0 #000, 0.07em 0.12em 0 #000,
    -0.12em 0.07em 0 #000, 0.12em 0.07em 0 #000, -0.14em -0.14em 0 #000,
    0.14em -0.14em 0 #000, -0.14em 0.14em 0 #000, 0.14em 0.14em 0 #000,
    -0.05em -0.14em 0 #000, 0.05em -0.14em 0 #000, -0.14em -0.05em 0 #000,
    0.14em -0.05em 0 #000, -0.05em 0.14em 0 #000, 0.05em 0.14em 0 #000,
    -0.14em 0.05em 0 #000, 0.14em 0.05em 0 #000, -0.07em -0.14em 0 #000,
    0.07em -0.14em 0 #000, -0.14em -0.07em 0 #000, 0.14em -0.07em 0 #000,
    -0.07em 0.14em 0 #000, 0.07em 0.14em 0 #000, -0.14em 0.07em 0 #000,
    0.14em 0.07em 0 #000, -0.09em -0.14em 0 #000, 0.09em -0.14em 0 #000,
    -0.14em -0.09em 0 #000, 0.14em -0.09em 0 #000, -0.09em 0.14em 0 #000,
    0.09em 0.14em 0 #000, -0.14em 0.09em 0 #000, 0.14em 0.09em 0 #000,
    -0.12em -0.14em 0 #000, 0.12em -0.14em 0 #000, -0.14em -0.12em 0 #000,
    0.14em -0.12em 0 #000, -0.12em 0.14em 0 #000, 0.12em 0.14em 0 #000,
    -0.14em 0.12em 0 #000, 0.14em 0.12em 0 #000;
}

.time-element {
  font-size: 5vw;
  text-rendering: optimizeLegibility;
  transform: translateZ(0);
  padding-left: 1px;
  font-family: "Upheaval";
  position: relative;
  z-index: 1;
  margin-top: calc(2vh + (100vw - 177.78vh) * 0.015);
}

.date-element {
  font-size: 1.75vw;
  font-family: "PF Tempesta Seven Condensed Bold";
  font-weight: 900;
  text-rendering: optimizeLegibility;
  position: relative;
  z-index: 1;
  margin-top: -5px;
}
