@font-face {
  font-family: "Upheaval";
  src: url("/src/assets/fonts/upheavtt.ttf") format("truetype");
}

@font-face {
  font-family: "PF Tempesta Seven Condensed";
  src: url("/src/assets/fonts/pf_tempesta_seven_condensed.ttf")
    format("truetype");
}

@font-face {
  font-family: "PF Tempesta Seven Condensed Bold";
  src: url("/src/assets/fonts/pf_tempesta_seven_condensed_bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "teammeatfont";
  src: url("/src/assets/fonts/teammeatfont.ttf") format("truetype");
}

@font-face {
  font-family: "04b03";
  src: url("/src/assets/fonts/04b03.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.app-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.header-button {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: 2px solid white;
  padding: 0.5rem 1rem;
  padding-top: 0.7rem;
  cursor: pointer;
  font-family: "teammeatfont", monospace;
  font-size: 2rem;
}

.header-button:hover {
  background: rgba(0, 0, 0, 0.8);
}
